
	

#aff{
	font-family:'Permanent Marker', Ariel;
	color:#488EF7;
	background-color:white;
	display:inline;
	white-space:nowrap;
	clear:none;
	float:right;
	margin: 17px 17px 17px 17px;
	border:none;
	font-size:0.9em;
	border-radius: 15px;
	text-decoration:none;
	border-color:#488EF7;
}
a{
	text-decoration:none;
	color:white;
}
a:hover{
	color:#98999C;
}
#logo{
	font-family: 'Permanent Marker', Mono;
	font-size: 2.4em;
	margin: 20px 20px 20px 20px;
	display:inline-block;
	white-space:nowrap;
	clear:none;
	float:left;
}
#nav{
	display:inline;
	float:right;
	margin: 20px 20px 20px 20px;
	font-family:'Poiret One', Ariel;
	color:#98999C;
	display:inline-block;
	white-space:nowrap;
	clear:none;
}
#nav:hover{
	color:black;
	display:inline-block;
}
#content{
	text-align:center
}

h1{
	font-family:'Permanent Marker', Ariel;
}

p{
	font-family:'Poiret One', Ariel;
	font-size:1.1em;
}
footer{
	clear:both;
}
#footer{
	height:150px;
	width:1px;
	background-color:#333333;
	margin:auto;
	width:100%;
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	position:fixed;
}
#footerText{
	color:white;
	font-family:'Poiret One', Ariel;
	font-size:.9em;
	margin: 20px 0px 0px 0px;
	text-align:center;

}
img{
	height:80px;
	width:80px;
	float:center;
}
span{
	color:#333333;

}























