
html{ 
  	background-color:#FAFFFD; 
  	background-size: cover;
}
.logo{
	font-family: 'Fredoka One', 'Permanent Marker', Mono;
	margin-top: 20px;
	clear:none;
    color:#342E37;
}
nav a{
	font-family:'Raleway', Ariel;
	color:#342E37;
	list-style-type: none;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
h1{
	font-family:'Fredoka One', 'Permanent Marker', Mono;
    color:#342E37;
}
p{
	font-family:'Raleway', Ariel;
	font-size:1.1em;
    color:#342E37;
}
footer{
	clear:both;
	background-color:#FA824C;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}
.footer-text{
	color:white;
	font-family:'Raleway', Ariel;
	margin-top: 35px;

}
.btn-large{
    background-color: #A2D729;
    border: none;
    text-align: center;
    color: #342E37;
    font-family: 'Fredoka One', monospace;
    align-self: center;
    transition: all 0.3s ease 0s;
    
}


















