body {
  background-image: -webkit-linear-gradient(0deg, rgb(52, 73, 94) 25%, rgb(44, 62, 80) 100%);
  background-image: linear-gradient(90deg, rgb(52, 73, 94) 25%, rgb(44, 62, 80) 100%);
  background-image: -webkit-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(44, 62, 80) 100%);
  background-image: -ms-linear-gradient(left, rgb(52, 73, 94) 25%, rgb(44, 62, 80) 100%);
  /*end gradient*/
  color: white;
  font-family: 'Questrial', Arial;
}

main {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 70px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.html,
.css,
.js,
.php,
.sql {
  display: inline-block;
  height: 200px;
  width: 200px;
  background: black;
  margin: 15px;
  border-radius: 200px;
}

a {
  color: #E4A228;
  text-decoration: none;
}

div h2 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
}

.html {
  background: #EA4D30;
  border: 5px solid #df4020;
}

.css {
  background: #0C73B8;
  border: 5px solid #0b69a8;
}

.js {
  background: #E4A228;
  border: 5px solid #cc8d1a;
}

.php {
  background: #5F82BA;
  border: 5px solid #4568a0;
}

.sql {
  background: #8D4C92;
  border: 5px solid #824686;
}

.more-info {
  font-size: 20px;
}

.more-info i {
  font-size: 17px;
}

.social-links i {
  font-size: 50px;
  color: white;
  margin: 15px;
}

.language-name {
  font-size: 40px;
}